.head {
  position: absolute;
  width: 319px;
  height: 109px;
  left: 38px;
  top: 0px;

  font-family: Prompt;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 109px;
  /* identical to box height */

  color: #f55e61;
}
.top {
  position: absolute;
  width: 1920px;
  height: 100px;
  left: 0px;
  top: 2px;
  background: #ffffff;
}
.signin {
  position: absolute;
  font-family: Athiti;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;

  color: #ffffff;
}
.button {
  position: absolute;
  height: 53px;
  width: 130px;
  left: 20.77%;
  right: 20.77%;
  top: 13.21%;
  bottom: 15.09%;
  border-radius: 10px;

  background: #f55e61;
  border-radius: 10px;
}
